

<!doctype html>
<html lang="en" data-layout="vertical" data-sidebar="dark" data-sidebar-size="lg" data-preloader="disable" data-theme="default" data-bs-theme="light">

<head>

    @Html.Partial("~/Views/Shared/_title_meta.cshtml")
    @RenderSection("styles", false)
    @Html.Partial("~/Views/Shared/_head_css.cshtml")
</head>

<body data-sidebar="dark">

    <!-- Begin page -->
    <div id="layout-wrapper">


        @RenderBody()
    </div> <!-- container-fluid -->
    @Html.Partial("~/Views/Shared/_vendor_scripts.cshtml")

    @RenderSection("scripts", required: false)

</body>

</html>